body {
  height: 100%;
}
  
header {
  background-color: blue;
  height: 50px;
  font-size: 1.5rem
}

footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  display: table;

}

p {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
